
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   Home
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
<link rel="stylesheet" href="../assets/css/manual.css">
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    
    <div class="" id="">
      <!-- Navbar -->
     
     
      <div class="content"> <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary">
        <div class="container-fluid container-control">
          <div class="navbar-wrapper">
            <span>MyChatRUM</span>
          </div>
         
          <div class="" id="navigation">
          
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                
                  <p>
                    <span >Friends</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">                
                  <p>
                    <span >Feed</span>
                  </p>
                </a>
              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  
                  <p>
                    <span>Notification</span>
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  
                  <p>
                    <span>Logout</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
     
        <div class="row">
        
          <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header ">
                  <h4 class="card-title container-control">Chat list</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            Dakota Rice
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Minerva Hooper
                          </td>
                        
                        </tr>
                        <tr>
                          <td>
                            Sage Rodriguez
                          </td>
                       
                        </tr>
                        <tr>
                          <td>
                            Doris Greene
                          </td>
                      
                        </tr>
                        
                      </tbody>
                     
                    </table>
                    <div  class="align-right">
                    <a href="#">More>></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header ">
                  <h4 class="card-title container-control">Friend list</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            Dakota Rice
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Minerva Hooper
                          </td>
                        
                        </tr>
                        <tr>
                          <td>
                            Sage Rodriguez
                          </td>
                       
                        </tr>
                        <tr>
                          <td>
                            Doris Greene
                          </td>
                      
                        </tr>
                        
                      </tbody>
                     
                    </table>
                    <div  class="align-right">
                    <a href="#">More>></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

<div class="col-md-6">

      <div class="card">
        <div class="card-header ">
          <div class="row">
<div class="col-md-6">
  <h7 class="card-title">Posted By: </h7>
  <h7 class="card-title">Doris Greene</h7>
</div>
<div class="col-md-6">
  <h7 class="card-title">Date: </h7>
  <h7 class="card-title">04/05/2020</h7>
</div>

          </div>
         
        </div>
        <div class="card-body">
     
            <img class="img-control float-left" src="../assets/img/img1.jpg" alt="">
        
            <h7>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consequatur, 
              neque nesciunt accusantium nulla aliquid eos commodi odit cupiditate, voluptas quo culpa,
               nemo asperiores expedita. Porro ipsam molestias qui?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vel cum accusantium est nesciunt magni perferendis reprehenderit impedit aspernatur
               facilis magnam suscipit ad enim, voluptatem ea molestiae? Dolorum dicta debitis nam.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti minima est, neque omnis illum rem doloremque cum exercitationem ipsa laudantium nulla possimus vitae aliquid quis harum, maiores, hic sapiente.
              </h7>
      


      </div>
   

</div>
<div class="card">
  <div class="card-header ">
    <div class="row">
<div class="col-md-6">
<h7 class="card-title">Posted By: </h7>
<h7 class="card-title">Sage Rodriguez</h7>
</div>
<div class="col-md-6">
<h7 class="card-title">Date: </h7>
<h7 class="card-title">04/05/2020</h7>
</div>

    </div>
   
  </div>
  <div class="card-body">

      <img class="img-control float-left" src="../assets/img/img2.jpg" alt="">
  
      <h7>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consequatur, 
        neque nesciunt accusantium nulla aliquid eos commodi odit cupiditate, voluptas quo culpa,
         nemo asperiores expedita. Porro ipsam molestias qui?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel cum accusantium est nesciunt magni perferendis reprehenderit impedit aspernatur
         facilis magnam suscipit ad enim, voluptatem ea molestiae? Dolorum dicta debitis nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti minima est, neque omnis illum rem doloremque cum exercitationem ipsa laudantium nulla possimus vitae aliquid quis harum, maiores, hic sapiente.
        </h7>



</div>


</div>
<div class="card">
  <div class="card-header ">
    <div class="row">
<div class="col-md-6">
<h7 class="card-title">Posted By: </h7>
<h7 class="card-title">Minerva Hooper</h7>
</div>
<div class="col-md-6">
<h7 class="card-title">Date: </h7>
<h7 class="card-title">04/05/2020</h7>
</div>

    </div>
   
  </div>
  <div class="card-body">

      <img class="img-control float-left" src="../assets/img/img3.jpg" alt="">
  
      <h7>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consequatur, 
        neque nesciunt accusantium nulla aliquid eos commodi odit cupiditate, voluptas quo culpa,
         nemo asperiores expedita. Porro ipsam molestias qui?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel cum accusantium est nesciunt magni perferendis reprehenderit impedit aspernatur
         facilis magnam suscipit ad enim, voluptatem ea molestiae? Dolorum dicta debitis nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti minima est, neque omnis illum rem doloremque cum exercitationem ipsa laudantium nulla possimus vitae aliquid quis harum, maiores, hic sapiente.
        </h7>



</div>


</div>
<div class="card">
  <div class="card-header ">
    <div class="row">
<div class="col-md-6">
<h7 class="card-title">Posted By: </h7>
<h7 class="card-title">Doris Greene</h7>
</div>
<div class="col-md-6">
<h7 class="card-title">Date: </h7>
<h7 class="card-title">04/05/2020</h7>
</div>

    </div>
   
  </div>
  <div class="card-body">

      <img class="img-control float-left" src="../assets/img/img2.jpg" alt="">
  
      <h7>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed debitis consequatur, 
        neque nesciunt accusantium nulla aliquid eos commodi odit cupiditate, voluptas quo culpa,
         nemo asperiores expedita. Porro ipsam molestias qui?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel cum accusantium est nesciunt magni perferendis reprehenderit impedit aspernatur
         facilis magnam suscipit ad enim, voluptatem ea molestiae? Dolorum dicta debitis nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti minima est, neque omnis illum rem doloremque cum exercitationem ipsa laudantium nulla possimus vitae aliquid quis harum, maiores, hic sapiente.
        </h7>



</div>


</div>


        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
              
                <div class="card-body">
                  <form>
                    <div class="input-group no-border">
                      <input type="text" value="" class="form-control" placeholder="Search...">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                    </div>
              </div>
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header ">
                  <h4 class="card-title container-control">Add New</h4>
                </div>
                <div class="card-body">
                  <textarea class="textarea-control" name="" id="" cols="30" rows="10"></textarea>
                    </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header ">
                  <h4 class="card-title container-control">Activities</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            Dakota Rice
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Minerva Hooper
                          </td>
                        
                        </tr>
                        <tr>
                          <td>
                            Sage Rodriguez
                          </td>
                       
                        </tr>
                        <tr>
                          <td>
                            Doris Greene
                          </td>
                      
                        </tr>
                        
                      </tbody>
                     
                    </table>
                    <div  class="align-right">
                    <a href="#">More>></a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
      <footer class="footer">
     
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>